body {
    color: #665544;
    font-family: 'Times New Roman', Times, serif;
    background-color: #dad5cc;
    text-align: center;
}
.wrapper {
	width: 800px;
	margin: 0px auto;
}
.header {
    width: 800px;
    margin: 0px auto;
    padding: 10px;
    /* border: 1px double #000; */
    background-color: #aeaca8;
}


.logo {
    width: 150px;
    margin: 10px auto 20px auto;
}
ul {
    width: 570px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 3px;
    /* border-top: 2px solid #000;*/
    /* border-bottom: 1px solid #000;*/
}
li {
    display: inline-block;
    height: 20px;
    margin: 0px 5px;
}
a {
    text-decoration: solid;
    text-transform: lowercase;
    color: #fff;
    padding: 6px 18px 6px 18px;
}
.placeholderBig {
    width: 728px;
    height: 90px;
    border-style: dotted;
    margin: 20px auto 20px auto;
}
.entry {    
    width: 240px;
    float: left;
    margin: 10px;
    height: 240px;
    background-image: url("img/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
    /*box-shadow: 5px 5px 5px 5px #ccc;*/
    /*border-style: outset;*/    
}
figure {
	display: block;
	width: 225px;
	height: 220px;
	background-color: #e7e3d8;
	margin: 5px;
	padding: 9px;
	text-align: left;
}
figure img {
	width: 220px;
	height: 198px;
	border: 1px solid #d6d6d6;
}
p {
    text-align: center;
    width: 570px;
    margin: 20px auto 20px auto;
    font-weight: 400;
}
a:hover, a.on {
    color: 000;
    background-color: #989794;
}
.footer {
    clear: both;
    width: 800px;   
    height: 30px; 
	margin: 0px auto;
    padding: 10px;
    /* border: 1px double #000; */
    background-color: #aeaca8;
}