#header {
    min-width: 700px;
    max-width: 950px;
    margin: 10 auto 10 auto;
    padding: 10px;
    /* border: 1px double #000; */
    background-color: #aeaca9;
}
#footer {
    min-width: 700px;
    max-width: 950px;
    margin: 10 auto 10 auto;
    padding: 10px;
    /* border: 1px double #000; */
    background-color: #aeaca9;
}

body {
    font-size: 95%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #efefef;
}

#page {
    min-width: 700px;
    max-width: 950px;
    margin: 10 auto 10 auto;
    padding: 10px;
    /* border: 1px double #000;*/
    background-color: #d8d5cb;
}
#logo {
    width: 150px;
    margin: 10px auto 20px auto;
}
ul {
    width: 570px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 3px;
    /* border-top: 2px solid #000;*/
    /* border-bottom: 1px solid #000;*/
}
li {
    display: inline-block;
    height: 20px;
    margin: 0px 5px;
}
a {
    text-decoration: solid;
    text-transform: lowercase;
    color: #fff;
    padding: 6px 18px 6px 18px;
}
#placeholderBig {
    /* text-align: center; */
    width: 728px;
    height: 90px;
    border-style: dotted;
    margin: 20px auto 20px auto;
}
#placeholderSmall {
    /* text-align: center; */
    width: 225px;
    height: 220px;
    box-shadow: 5px 5px 5px 5px #ccc;
    border-style: outset;
    margin: 25px 20px 20px 20px;
    padding: 10px;  
}
ul.image-align-left {
    display: list-item;
    margin: 10px;
    list-style-image: url("img/wheel.png");    
}
p {
    text-align: center;
    width: 570px;
    margin: 20px auto 20px auto;
    font-weight: 400;
}
a:hover, a.on {
    color: 000;
    background-color: #989794;
}