ul.subnav {
  float: left;
  padding:0px;
  margin:0px;
}

.subnav li {
  display:list-item;
  margin:10px 21px 10px 10px;
  background-image:url(../img/wheel.png);
  background-repeat:no-repeat;
  background-position:left;
  padding-left:14px;
}